.header {
  background-color: var(--gray-800);
}

.header-icon {
  padding: 0 14px;
}

.header-spacer {
  flex: 1 1 auto;
}

.header-item{
  height:50px;
  width:60px;
  display:flex;
  justify-content: center;
  text-decoration: none;
}

.header-logo{
  height:100%;
  width:100%;
}
