@import '../../../../../../../node_modules/bootstrap/dist/css/bootstrap.css';
button {
  margin-right: 1em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  img {
    width: 100px;
    height: 90px;
    object-fit: cover;
    margin: 5px;
  }
}

mat-card {
  margin-bottom: 20px;
}

.g-overlay {
  min-width: 320px;
}

gallery {
  font-size: 16px;
}

img {
  width: 150px;
}

.lightbox-example,
.gallerize-example {
  margin: 2em;
}

.btns {
  position: absolute;
}
