@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}



.example-sidenav-content {
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 10px;
}

.navbar{
  background-color: #424242;
  border-left: 2px solid #2c2c2c;
}

.navbar-item{
  width:50px;
  display:flex;
  justify-content: center;
  text-decoration: none;
}

.navbar-item .active{
  color:red;
}

.navbar-logo{
  width:50px;
  padding: 0.5rem 0;
}

.navbar-icon {
  padding: 2rem 0;
  transform: scale(1.5);
}

.navbar-tooltip{
  font-size:1.2rem;
  color:red;
}

