<a class="sidebar-item">
    <img class="sidebar-logo" src="assets/images/resources/O-Only.png" />
  </a>
  <mat-divider></mat-divider>
  <a routerLink="/dashboard" class="sidebar-item" routerLinkActive="active" >
    <mat-icon
      matTooltip="Dashboard"
      matTooltipPosition="right"
      matTooltipClass="sidebar-tooltip"
      class="sidebar-icon"
      aria-hidden="false"
      aria-label="Dashboard"
    >
      dashboard
    </mat-icon>
  </a>
  <a routerLink="/categories" class="sidebar-item" routerLinkActive="active" >
    <mat-icon
      matTooltip="Categories"
      matTooltipPosition="right"
      matTooltipClass="sidebar-tooltip"
      class="sidebar-icon"
      aria-hidden="false"
      aria-label="Category"
    >
      category
    </mat-icon>
  </a>
  <a routerLink="/technologies" class="sidebar-item" routerLinkActive="active">
    <mat-icon
      matTooltip="Technologies"
      matTooltipPosition="right"
      matTooltipClass="sidebar-tooltip"
      class="sidebar-icon"
      aria-hidden="false"
      aria-label="Technology"
    >
      code
    </mat-icon>
  </a>
