
  
  .sidebar {
    padding: 10px;
  }

  .sidebar-wrapper{
    width:17rem;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-item{
    display: flex;
    flex-direction: row;
    padding:0.5rem 0.5rem;
    text-decoration: none;
    margin:0.5rem 0.5rem
  }

  .sidebar-item.active{
    background-color: var(--primary);
    border-radius: 0.5rem;
  }

  .sidebar-text{
    display:flex;
    flex-direction:column;
    justify-content: center;
  }

  .sidebar-icon {
    padding: 0 1rem;
  }
  

  .sidebar-item .sidebar-icon, .sidebar-item .sidebar-text{
    color:var(--accent);
  }

  .sidebar-item.active .sidebar-icon,.sidebar-item.active  .sidebar-text{
    color:var(--gray-800);
  }
  
  .sidebar-logo{
    width:60px;
    padding: 0.3rem 0;
  }
  
 

  .sidebar-icon.active {
    /* padding: 2rem 0; */
    transform: scale(1.5);
  }
  
  .sidebar-tooltip{
    font-size:1.2rem;
    color:red;
  }
  
  