<div class="sidebar">
  <a class="sidebar__logo">
    <img class="sidebar__logo__image" src="assets/images/resources/O-Only.png" />
    <span class="sidebar__logo__text"></span>
  </a>
  <mat-divider></mat-divider>
  <a routerLink="/dashboard" class="sidebar__item" routerLinkActive="sidebar__item--active">
    <mat-icon
      matTooltip="Dashboard"
      matTooltipPosition="right"
      matTooltipClass="sidebar__item__tooltip"
      class="sidebar__item__icon"
      aria-hidden="false"
      aria-label="Dashboard"
    >
      dashboard
    </mat-icon>
    <span class="sidebar__item__text" routerLinkActive="active">
      Dashboard
    </span>
  </a>
  <a routerLink="/categories" class="sidebar__item" routerLinkActive="sidebar__item--active">
    <mat-icon
      matTooltip="Categories"
      matTooltipPosition="right"
      matTooltipClass="sidebar__item__tooltip"
      class="sidebar__item__icon"
      aria-hidden="false"
      aria-label="Category"
    >
      category
    </mat-icon>
    <span class="sidebar__item__text" routerLinkActive="active">
      Category
    </span>
  </a>
  <a routerLink="/technologies" class="sidebar__item" routerLinkActive="sidebar__item--active">
    <mat-icon
      matTooltip="Technologies"
      matTooltipPosition="right"
      matTooltipClass="sidebar__item__tooltip"
      class="sidebar__item__icon"
      aria-hidden="false"
      aria-label="Technology"
    >
      code
    </mat-icon>
    <span class="sidebar__item__text" routerLinkActive="active">
      Technologies
    </span>
  </a>
  <a routerLink="/clients" class="sidebar__item" routerLinkActive="sidebar__item--active">
    <mat-icon
      matTooltip="Clients"
      matTooltipPosition="right"
      matTooltipClass="sidebar__item__tooltip"
      class="sidebar__item__icon"
      aria-hidden="false"
      aria-label="Client"
    >
      business
    </mat-icon>
    <span class="sidebar__item__text" routerLinkActive="active">
      Clients
    </span>
  </a>
  <a routerLink="/projects" class="sidebar__item" routerLinkActive="sidebar__item--active">
    <mat-icon
      matTooltip="Projects"
      matTooltipPosition="right"
      matTooltipClass="sidebar__item__tooltip"
      class="sidebar__item__icon"
      aria-hidden="false"
      aria-label="Project"
    >
      assignment
    </mat-icon>
    <span class="sidebar__item__text" routerLinkActive="active">
      Projects
    </span>
  </a>
  <a routerLink="/portfolios" class="sidebar__item" routerLinkActive="sidebar__item--active">
    <mat-icon
      matTooltip="Portfolios"
      matTooltipPosition="right"
      matTooltipClass="sidebar__item__tooltip"
      class="sidebar__item__icon"
      aria-hidden="false"
      aria-label="Client"
    >
      laptop_chromebook
    </mat-icon>
    <span class="sidebar__item__text" routerLinkActive="active">
      Portfolios
    </span>
  </a>
</div>
