@import '../../../../styles/main.scss';

.login {
  &__wrapper {
    height: 100%;
    width: 100%;
    background-color: $gray-700;
    display: flex;
    justify-content: flex-end;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}

.login-form {
  &__field {
    width: 100%;
  }
}

.box {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
