<h2 mat-dialog-title>Edit Portfolio</h2>
<form class="form" [formGroup]="EditFormGroup" (ngSubmit)="editPortfolio()">
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <mat-card>
        <a type="button" (click)="callServiceToCopy()">
          <span>{{ link }}</span>
        </a></mat-card
      >
    </div>
    <hr />

    <div class="row editor-row">
      <div class="col-md-12">
        <mat-form-field class="form__field">
          <input matInput type="text" formControlName="title" placeholder="Title" required />
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <p class="mat-input">Description</p>
        <angular-editor
          class="editor"
          [placeholder]="Description"
          formControlName="description"
        ></angular-editor>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="form__field">
          <mat-select
            formControlName="projectId"
            placeholder="Projects"
            [(ngModel)]="project"
            multiple
          >
            <mat-option *ngFor="let project of projectSelect" [value]="project.id">
              {{ project.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="form__field">
          <mat-select
            formControlName="componentId"
            placeholder="Component"
            [(ngModel)]="component"
            multiple
          >
            <mat-option *ngFor="let component of componentSelect" [value]="component.id">
              {{ component.text }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="form__field">
          <mat-select
            formControlName="technologyId"
            placeholder="Technology"
            [(ngModel)]="technology"
            multiple
          >
            <mat-option *ngFor="let tech of techSelect" [value]="tech.id">
              {{ tech.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="form__field">
          <mat-select
            formControlName="categoryId"
            placeholder="Category"
            [(ngModel)]="category"
            multiple
          >
            <mat-option *ngFor="let cat of catSelect" [value]="cat.id"> {{ cat.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button cdkFocusInitial class="modal__button--primary">
      Edit
    </button>
  </mat-dialog-actions>
</form>
