<h2 mat-dialog-title>Add Projects</h2>
<form class="form" [formGroup]="EditFormGroup" (ngSubmit)="addPortfolio()">
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="form__field">
          <input matInput type="text" formControlName="title" placeholder="Title" required />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="form__field">
          <textarea
            matInput
            placeholder="Description"
            rows="5"
            formControlName="description"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="form__field">
          <mat-select
            formControlName="projectId"
            placeholder="Projects"
            [(ngModel)]="project.id"
            multiple
          >
            <mat-option *ngFor="let project of projectSelect" [value]="project">
              {{ project.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="form__field">
          <mat-select
            formControlName="componentId"
            placeholder="Component"
            [(ngModel)]="component.id"
            multiple
          >
            <mat-option *ngFor="let component of componentSelect" [value]="component">
              {{ component.text }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="form__field">
          <mat-select
            formControlName="technologyId"
            placeholder="Technology"
            [(ngModel)]="technology"
            multiple
          >
            <mat-option *ngFor="let tech of techSelect" [value]="tech.id">
              {{ tech.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="form__field">
          <mat-select
            formControlName="categoryId"
            placeholder="Category"
            [(ngModel)]="category"
            multiple
          >
            <mat-option *ngFor="let cat of catSelect" [value]="cat.id"> {{ cat.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button cdkFocusInitial class="modal__button--primary">
      Add
    </button>
  </mat-dialog-actions>
</form>
