<h2 mat-dialog-title>Add Portfolio</h2>
<form class="form" [formGroup]="AddFormGroup" (ngSubmit)="addPortfolio()">
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="form__field">
          <input matInput type="text" formControlName="title" placeholder="Title" required />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="form__field">
          <textarea
            matInput
            placeholder="Description"
            rows="5"
            formControlName="description"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="form__field">
          <mat-select formControlName="projectId" placeholder="Projects" multiple>
            <mat-option [value]="project.id" *ngFor="let project of projects">
              {{ project.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="form__field">
          <mat-select formControlName="componentId" placeholder="Component" multiple>
            <mat-option [value]="component.id" *ngFor="let component of components">
              {{ component.text }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="form__field">
          <mat-select formControlName="technologyId" placeholder="Technology" multiple>
            <mat-option [value]="tech.id" *ngFor="let tech of technologies">
              {{ tech.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="form__field">
          <mat-select formControlName="categoryId" placeholder="Category" multiple>
            <mat-option [value]="cat.id" *ngFor="let cat of categories"> {{ cat.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button cdkFocusInitial class="modal__button--primary">
      Add
    </button>
  </mat-dialog-actions>
</form>
